<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/style/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
<h1> Welcome to LG Net</h1>
<div class="w3ls-login box">
    <form action="#" method="post">
        <div class="agile-field-txt">
            <input type="text" name="email" placeholder="请输入用户名" required="" />
        </div>
        <div class="agile-field-txt">
            <input type="password" name="password" placeholder="请输入密码" required="" id="myInput" />
            <div class="agile_label">
                <input id="check3" name="check3" type="checkbox" value="show password">
                <label class="check" for="check3">记住我</label>
            </div>
        </div>
        <div class="w3ls-bot">
            <input type="submit" value="登陆">
        </div>

        <div class="register_div">
            <a href="#" class="register">暂无账号？点击这里立即注册</a>
        </div>
    </form>
</div>



<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
</body>
</html>